@{
    ViewBag.Title = "SOLUTION :)";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1><br /><br />
                <h2>@ViewBag.After</h2>

            </hgroup>
          <h3> broadbandchoices.co.uk demo application for SOLID principles...</h3>
        </div>
    </section>
}
